@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --fonte-padrao: "Sriracha",'cursive';
    --fonte-destaque: "Passion One",'sans-serif'
}

html,body{
    min-height: 100vh;
}

header{
    background-color: black;
    color: white;
    padding-top: 50px;
    text-align: center;
}

header h1{
    font-family: var(--fonte-destaque);
    font-size: 5em;
    font-variant: small-caps;
}

header p {
    font-family: var(--fonte-padrao);
    font-size: 1.4em;
    padding: 20px 0px 50px 0px;
}

header > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

header > p > a:hover{
    text-decoration: underline;
}

section{
    font-family: var(--fonte-padrao);
    font-size: 1.3em; 
    padding: 10vh 0vh 10vh 2em;
    line-height: 2em;
}


.img1{
    background: black url('imagens/background001.jpg') right top no-repeat fixed;
    background-size: cover;
}

.border-img1{
    width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.260);
    color: white;
}

.img2{
    background: black url('imagens/background002.jpg') right top no-repeat fixed;
    background-size: cover;
}

.border-img2{
    width: 350px;
    height: 300px;
    background-color: rgba(0, 0, 0, 0.260);
    color: white;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    font-family: var(--fonte-padrao);
}

footer p{
    padding: 10px;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a:hover{
    text-decoration: underline;
}